html,body{background:#f2f2f2;}
.div-register{padding: 20px 16px;}
.div-register .input-register{height:auto}
#checkCode_pic img{width: 100%;height: 40px;}
.div-register .btn-orange[disabled]{color:#ff8461;border-color: #ccc;}
.div-register a{color: #0877c5}


.div-mobil-input{font-size: 12px;line-height: normal}
.div-input-group{border-radius: 5px;background: #fff;border: 1px solid #ccc;}
.div-mobil-input input {width: 100%;border: 0px;background: #fff;font-size: 14px;padding:10px;border-radius: 5px;line-height: normal;outline: none;}
.div-mobil-input .img-code{height: 32px;position: absolute;margin-top: 5px}
.div-mobil-input a{color:#64b4fb;margin-top: 2px; float: right;padding: 10px;}
.div-btn{background: #dadada;text-align: center;font-size: 16px;color:#fff;padding: 10px; border-radius: 5px;width: 100%}
.help-block{position: absolute;width: 85%;}
.focus{border:1px solid #2b8fea!important;}
.font-size-14{font-size: 14px;}
.btn-default:hover,.btn-default.focus,.btn-default:focus,.btn-default[disabled]:hover{
	background-color: #dadada;
	color:#fff;
}
