<!doctype html>
<html>
<head lang="en">
    <!--#include file = "/view/layout/head-script.html" -->
    <link href="/css/externalDocking/agreement.css" rel="stylesheet">
    <title>查看协议</title>
</head>

<body>
<!--ͷ头部开始 -->
<header>
    <em class="fl"><a  id="backTo" onclick="backClick()"><img src="/img/externalDocking/back.png"></a></em>
    <span id="headName">查看协议</span>
    <!-- <em class="fr"><img src="../../images/product/product/fx.png"></em>-->
</header>
<div style=" height:44px;"></div>
<!-- 头部结束 -->
<!--天金所服务协议开始-->
<div class="Membership" id="membership">
    <h2>天津金融资产交易所有限责任公司</h2>
    <h4>服务协议（个人会员版）</h4>
    <h3></h3>
    <p>天津金融资产交易所有限责任公司（以下简称“天金所”，拥有并运营www.tjfae.com ）依据本协议的规定为天金所会员（以下简称“会员”）提供服务，本协议在会员和天金所之间具有合同上的法律效力。天金所特别提醒在注册成为天金所会员前，注册人员需认真阅读、充分理解本协议各条款，特别是其中所涉及免除及限制天金所责任的条款、对会员权利限制条款等。请注册人员审慎阅读并选择接受或不接受本协议。除非接受本协议所有条款，否则无法注册成为天金所会员及使用天金所于本协议下所提供的服务。</p>
    <p>各位再次确认：在接受天金所服务或以其他允许的方式实际使用天金所服务前，已充分阅读、理解并接受本协议的全部内容，一经注册或使用天金所服务即视为对本协议全部条款已充分理解并完全接受。</p>
    <h5>第一章 会员</h5>
    <p>第一条 天金所的会员是指符合中华人民共和国法律规定的具有完全民事权利能力和民事行为能力，能够独立承担民事责任并按天金所的规定，注册获得会员资格的自然人、法人或其他组织。在使用天金所服务前，会员必须先在天金所的电子交易平台（以下简称“天金所平台”）上进行注册开户；注册开户后，将同步成为天津金融资产登记结算有限公司的会员，遵守其规则及相关业务细则。</p>
    <p>第二条 会员承诺以下事项：</p>
    <p>1.会员必须依天金所要求提供真实、有效及完整的开户申请资料。</p>
    <p>2.会员有义务维持并更新会员的资料，确保其为真实、有效及完整。若提供任何错误、虚假、失效或不完整的资料，或者天金所依其独立判断怀疑资料为错误、虚假、失效或不完整，天金所有权暂停或终止会员资格，并拒绝会员使用天金所的部分或全部服务。在此情况下，天金所不承担任何责任，并且会员同意承担因此所产生的直接或间接的任何支出或损失。</p>
    <p>3.如因会员未及时更新资料，导致天金所服务无法提供或提供时发生任何错误，会员不得将此作为取消交易或拒绝付款的理由，天金所亦不承担任何责任，所有责任应由会员承担。</p>
    <p>4.在同意接受本协议并注册或使用天金所服务时，申请注册者确认已具备完全民事权利能力和民事行为能力及一切内、外部的授权和批准；本协议适用中华人民共和国法律。如会员不具备前述条件的，申请注册者应立即终止注册或停止使用天金所服务。</p>
    <p>5.会员在天金所进行金融资产交易时，若产品发行方根据法律、法规或监管规定须对会员进行风险测评的，会员同意天金所为投资者适当性管理需要向产品发行方查询风险测评信息。</p>
    <p>6.会员保证并承诺通过天金所平台进行交易的资金来源合法且可用于平台业务，因会员违反该承诺给天金所造成损失的，会员应当承担赔偿责任。</p>
    <p>7.会员注册成功后，不得将其在天金所注册的用户名转让给第三方或者授权给第三方使用。会员确认，使用用户名和密码登陆天金所平台后在天金所平台的一切行为均代表该会员并由该会员承担相应的法律后果。</p>
    <p>8.会员确认，会员在天金所平台上按天金所服务流程所确认的交易行为，即为天金所为会员进行相关交易或操作（包括但不限于代为支付或收取款项、冻结资金、登记托管或转托管权益凭证、订立合同等）的不可撤销的指令。会员同意相关指令的执行时间以会员在天金所平台中进行实际操作的时间为准。会员同意天金所有权依据本协议及/或天金所相关纠纷处理规则等约定对相关事项进行处理。会员进行网上交易的，天金所交易服务器内的相关交易或操作记录将作为双方核查交易指令合法、有效的证明。
    会员同意，天金所交易服务器内的交易记录与书面指令具有同等法律效力。
    会员未能及时对交易状态进行修改、确认或未能提交相关申请所引起的任何纠纷或损失由会员自行负责，天金所不承担任何责任。</p>
    <p>9.会员理解并同意，天金所向符合条件的会员提供服务。天金所对会员在天金所平台上进行的投资等交易行为不承担任何责任，天金所无法也没有义务保证会员在发出投资相关指令后，能够实际获得投资成功，会员因前述原因导致的损失（包括但不限于利息、手续费等损失）由会员自行承担，天金所不承担责任。</p>
    <p>10.会员通过天金所平台进行各项交易或接受交易款项时，若会员未遵从本服务协议条款或天金所公布的交易规则中的操作指示，天金所不承担任何责任。若发生上述状况而款项已先行拨入会员信息账户下，会员同意天金所有权直接从相关会员信息账户中扣回款项及禁止会员要求支付此笔款项之权利。此款项若已汇入会员的结算银行账户，会员同意天金所有向会员事后索回的权利，由此产生的追索费用由会员承担。</p>
    <p>11.会员同意，天金所有权在提供服务过程中以各种方式投放各种商业性广告或其他任何类型的商业信息（包括但不限于在天金所平台的任何页面上投放广告），并且，会员同意接受天金所通过电子邮件或其他方式向会员发送商品促销或其他相关商业信息。</p>
    <h5>第二章 天金所服务</h5>
    <p>第三条 天金所服务是由天金所通过天金所官方网站的交易平台或经会员同意的其他渠道向会员提供的服务，具体服务内容主要包括：交易信息发布、交易管理服务、客户服务、权益登记及查询、资金清算等服务。具体详情以天金所当时提供的服务内容为准。</p>
    <p>第四条 为了保障会员的权益，注册人员在自愿注册使用天金所服务前，必须仔细阅读并充分理解知悉本服务协议所有条款。一经注册或使用天金所服务即视为对本服务协议的充分理解和接受，如有违反而导致任何法律后果的发生，会员将以自己的名义独立承担相应的法律责任。</p>
    <p>第五条 在本协议履行过程中，天金所可根据情况对本服务协议进行单方面的变更或修改。一旦本服务协议的内容发生变动，天金所将通过天金所平台公布最新的服务协议，不再向会员作个别通知。如果会员不同意天金所对本服务协议所做的修改，会员有权停止使用天金所服务。如果会员继续使用天金所服务，则视为会员接受天金所对本服务协议所做的修改，并应遵照修改后的协议执行。</p>
    <p>第六条 天金所对于会员的通知及任何其他的协议、告示或其他关于会员使用会员信息账户及服务的通知，会员同意天金所可通过天金所平台公告，或根据会员预留开户资料信息以电子邮件、手机短信、无线通讯装置等电子方式或常规的信件传递等方式进行，该等通知于发送后依所选用发送方式下通常的送达时间届满之时即视为已送达会员。因信息传输等原因导致会员未在前述通常的送达时间内收到该等通知的，天金所不承担责任。</p>
    <p>第七条 天金所可以依其判断暂时停止提供、限制或改变天金所服务，只要会员仍然使用天金所服务，即表示会员仍然同意本服务协议。</p>
    <h5>第三章 天金所服务的内容</h5>
    <p>第八条 天金所提供的部分服务内容需要会员根据天金所要求完成身份认证及银行卡签约的，未进行身份认证及/或银行卡签约的会员将无法使用该部分服务。因会员未能完成身份认证及/或银行卡签约致使无法使用天金所的服务而造成的损失，天金所不承担任何责任。</p>
    <p>第九条 天金所将为会员提供信息发布服务。天金所向会员提供的各种信息及资料仅为参考，会员应依其独立判断做出决策。会员据此进行交易的，产生的风险由会员自行承担，会员无权据此向天金所提出任何法律主张。在交易过程中，会员之间发生的纠纷，由纠纷各方自行解决，天金所不承担任何责任。</p>
    <p>第十条 天金所将为会员提供以下交易管理服务：</p>
    <p>1.会员在天金所平台进行注册时将生成会员信息账户，会员信息账户将记载会员在天金所平台的活动，上述会员信息账户是会员登陆天金所平台的唯一账户。会员信息账户项下的资金收益计算以天金所平台公布的资金收益计算规则为准。</p>
    <p>2.天金所有权基于交易安全等方面的考虑不时设定涉及交易的相关事项，包括但不限于交易限额、交易次数等，会员了解天金所的前述设定可能会对交易造成一定不便，对此没有异议。</p>
    <p>3.如果天金所发现了因系统故障或其他任何原因导致的处理错误，无论有利于天金所还是有利于会员，天金所都有权纠正该错误。如果该错误导致会员实际收到的款项多于应获得的金额，则无论错误的性质和原因为何，天金所保留纠正不当执行的交易的权利，会员应根据天金所向会员发出的有关纠正错误的通知的具体要求返还多收的款项或进行其他操作。会员理解并同意，会员因前述处理错误而多付或少付的款项均不计利息，天金所不承担因前述处理错误而导致的任何损失或责任（包括会员可能因前述错误导致的利息、汇率等损失）。</p>
    <p>第十一条 天金所将为会员提供以下客户服务：</p>
    <p>1.银行卡签约：为使用天金所或天金所合作的第三方提供的交易、充值提现、代收代付等服务，会员应按照天金所规定的流程进行银行卡与会员信息账户绑定，该银行卡账户不可为信用卡账户。如会员未按照天金所规定提交相关信息或提交的信息错误、虚假、失效或不完整，或者天金所有合理的理由怀疑会员提交的信息为错误、虚假、失效或不完整，天金所有权暂停或终止会员资格，会员因此未能使用交易、充值提现、代收代付等服务而产生的损失自行承担。</p>
    <p>2.充值及提现：会员依据天金所平台或合作的第三方机构的相关交易、结算规则完成充值、提现的交易行为。</p>
    <p>3.查询：天金所将对会员在天金所平台的所有操作进行记录，不论该操作之目的最终是否实现。会员可以通过会员信息账户实时查询会员信息账户名下的交易记录。会员理解并同意会员最终收到款项的服务是由会员经过绑定的银行卡对应的银行提供的，需向该银行请求查证。会员理解并同意通过天金所平台查询的任何信息与天金所书面记录存在任何不一致，应以天金所提供的书面记录为准。</p>
    <p>4.会员每次使用天金所服务应直接登录天金所交易平台（网址： www.tjfae.com，如天金所以公告等形式发布新的网址，请届时登陆新的网址）或使用天金所指定的第三方服务平台（天金所以公告等形式发布第三方服务平台网址），而不要通过邮件或其他网站提供的链接登录。会员每次拨打天金所客户电话应拨打天金所官方网站提供的客服电话，而不要拨打其他任何电话。</p>
    <p>第十二条 免责事由</p>
    <p>1.在任何情况下，对于会员使用天金所服务过程中涉及由第三方提供相关服务的责任由该第三方承担，天金所不承担该等责任。天金所不承担责任的情形包括但不限于：</p>
    <p>（1）因银行等第三方未按照会员和/或天金所指令进行操作引起的任何损失或责任；</p>
    <p>（2）因银行等第三方原因导致资金未能及时到账或未能到账引起的任何损失或责任；</p>
    <p>（3）因银行等第三方对交易限额或次数等方面的限制而引起的任何损失或责任；</p>
    <p>（4）因其他第三方的行为或原因导致的任何损失或责任。</p>
    <p>2.因会员自身的原因导致的任何损失或责任，由会员自行负责，天金所不承担责任。天金所不承担责任的情形包括但不限于：</p>
    <p>（1）会员未按照本协议或天金所平台不时公布的任何规则进行操作导致的任何损失或责任；</p>
    <p>（2）因会员使用的银行卡的原因导致的损失或责任，包括会员使用未经绑定的银行卡或使用非会员本人的银行卡或使用信用卡，会员的银行卡被冻结、挂失等导致的任何损失或责任；</p>
    <p>（3）会员向天金所发送的指令信息不明确、或存在歧义、不完整等导致的任何损失或责任；</p>
    <p>（4）会员信息账户内余额不足导致的任何损失或责任；</p>
    <p>（5）其他因会员原因导致的任何损失或责任。</p>
    <h5>第四章 风险提示</h5>
    <p>第十三条 会员了解并认可，任何通过天金所进行的交易并不能避免以下风险的产生，天金所没有义务为如下风险负责：</p>
    <p>1.宏观经济风险：因宏观经济形势变化，可能引起价格等方面的异常波动，会员有可能遭受损失；</p>
    <p>2.政策风险：有关法律、法规及相关政策、规则发生变化，可能引起价格等方面异常波动，会员有可能遭受损失；</p>
    <p>3.违约风险：因其他交易方无力或无意愿按时足额履约，会员有可能遭受损失；</p>
    <p>4.利率风险：市场利率变化可能对购买或持有产品的实际收益产生影响；</p>
    <p>5.不可抗力因素导致的风险：诸如地震、火灾、水灾、战争等不可抗力因素可能导致交易系统的瘫痪；无法控制和不可预测的系统故障、设备故障、通讯故障、电力故障等也可能导致交易系统非正常运行甚至瘫痪，因不可抗力使会员的交易无法完成或者无法全部完成，甚至出现交易数据丢失等不利情况；</p>
    <p>6.因会员的过错或第三方行为导致的任何损失，包括但不限于：决策失误、操作不当、遗忘或泄露密码、密码被他人破解、会员使用的计算机系统被第三方侵入、会员委托他人代理交易时他人恶意或不当操作而造成的损失。</p>
    <p>7.技术风险：由于交易及行情显示是通过电子通讯技术和计算机技术来实现的，有关服务及软、硬件服务由不同的供应商提供，天金所不能控制电讯信号的强弱，也不能保证交易客户端的设备配置或者连接的稳定性以及互联网传播和接收的实时性。故由以上通讯或网络故障导致的某些服务中断或延时可能会对会员的投资产生影响。另外，这些技术存在着被网络黑客和计算机病毒攻击的可能，尽管对此天金所已做了充分准备，采取了多项防范及补救措施，但仍然有可能发生技术性事故和风险，由此可能给会员带来损失。</p>
    <p>第十四条 天金所不对任何会员及/或任何交易提供任何担保，无论是明示、默示的。天金所不能也不试图对会员发布的信息进行控制，对该等信息，天金所不承担任何形式的证明、鉴定服务。天金所不能完全保证平台内容的真实性、充分性、可靠性、准确性、完整性和有效性，并且无需承担任何由此引起的法律责任。会员依赖于会员的独立判断进行交易，会员应对其作出的判断承担全部责任。</p>
    <p>第十五条 以上并不能揭示会员通过天金所进行交易的全部风险及市场的全部情形。会员在签订相关协议及进行相关业务活动（如做出交易决策）前，会员必须确保自己全面了解相关交易活动的性质、规则，参考自身的投资经验、目标、财务状况、承担风险的能力等，谨慎决策，并自行承担全部风险。</p>
    <h5>第五章 服务费用</h5>
    <p>第十六条 当会员使用天金所服务时，天金所有权向会员收取相关服务费用。各项服务费用详见会员使用天金所服务时天金所平台上公示的收费说明。天金所保留单方面制定及调整服务费用的权利。</p>
    <p>第十七条 会员在使用天金所服务过程中可能需要向第三方（如银行等）支付一定的费用，具体收费标准详见第三方网站相关页面，或参考天金所平台的提示。</p>
    <h5>第六章 账户安全及管理</h5>
    <p>第十八条 会员了解并同意，确保会员信息账户及密码的机密安全是会员的责任。会员将对利用该会员信息账户及密码所进行的一切行动及言论，负完全的责任，并同意以下事项：</p>
    <p>（1）会员不向其他任何人泄露账户或密码，亦不可使用其他任何人的账户或密码。因黑客、病毒或会员的保管疏忽等非天金所原因导致会员的会员信息账户遭他人非法使用的，天金所不承担任何责任。</p>
    <p>（2）天金所通过会员的会员信息账户及密码来识别会员的指令，会员确认，使用会员信息账户和密码登陆后在天金所的一切行为均代表会员本人。会员信息账户操作所产生的电子信息记录均为会员行为的有效凭据，并由会员本人承担由此产生的全部责任。</p>
    <p>（3）冒用他人账户及密码的，天金所保留追究实际使用人法律责任的权利。</p>
    <p>（4）会员应根据天金所的相关规则以及天金所平台的相关提示创建一个安全密码，应避免选择过于明显的单词或日期，比如会员的姓名、昵称或者生日等。</p>
    <p>第十九条 会员如发现有第三人冒用或盗用会员信息账户及密码，或其他任何未经合法授权的情形，应立即以有效方式通知天金所，要求天金所暂停相关服务，否则由此产生的一切责任由会员本人承担。同时，会员理解天金所对会员的请求采取行动需要合理期限，在此之前，天金所对第三人使用该服务所导致的损失不承担任何责任。</p>
    <p>第二十条 会员不再使用会员信息账户时，在清偿所有应付款项（包括但不限于违约金、服务费、管理费等）后，可将会员信息账户中的可用款项（如有）全部提现或者向天金所发出其它合法的支付指令。会员死亡或被宣告死亡的，其会员信息账户中财产的合法继承人承担除使用会员信息账户购买产品之外的本协议项下其余权利和义务。若该继承人为天金所会员的，可申请将被继承人会员信息账户中的财产过户至继承人会员信息账户中。过户手续以天金所官方网站公布的规则为准。被继承人会员信息账户中无财产后，天金所有权终止被继承人的会员资格。会员非因死亡而丧失全部或部分民事行为能力的，由其监护人管理其会员信息账户。监护人使用被监护人会员信息账户时，可进行除充值、购买产品之外的其他操作。监护人应本着善良、实现被监护人利益最大化的原则管理被监护人会员信息账户中资产。</p>
    <p>第二十一条 天金所有权基于单方独立判断，在其认为可能发生危害交易安全等情形时，不经通知而先行暂停、中断或终止向会员提供本协议项下的全部或部分会员服务（包括收费服务），并将注册资料移除或删除，且无需对会员或任何第三方承担任何责任。前述情形包括但不限于：</p>
    <p>1.天金所认为会员提供的资料不具有真实性、有效性或完整性；<p>
    <p>2.天金所发现异常交易或有疑义或有违法之虞时；<p>
    <p>3.天金所认为会员信息账户涉嫌洗钱、套现、传销、被冒用或其他天金所认为有风险之情形；<p>
    <p>4.天金所认为会员已经违反本协议中规定的各类规则；<p>
    <p>5.会员在使用天金所收费服务时未按规定向天金所支付相应的服务费用；<p>
    <p>6.会员信息账户已连续三年内未实际使用且账户中余额为零；<p>
    <p>7.天金所基于交易安全等原因，根据其单独判断需先行暂停、中断或终止向会员提供本协议项下的全部或部分会员服务（包括收费服务），并将注册资料移除或删除的其他情形。<p>
    <p>第二十二条 天金所终止提供会员信息账户服务的，可以网站公示或其他有效方式（如书面通知）通知会员。会员在收到天金所该等通知后在10个工作日内应到天金所办理销户手续。如在规定时间内会员未到天金所办理，天金所有权对会员的账户进行冻结。在会员收到天金所终止会员信息账户服务通知至会员办理销户期间，天金所不接受会员的所有交易指令。会员同意在必要时，天金所无须进行事先通知即有权终止提供会员信息账户服务，并可能立即暂停、关闭或删除会员信息账户及该会员信息账户中所有相关资料及档案。</p>
    <p>第二十三条 会员同意，会员信息账户的暂停、中断或终止不代表会员责任的终止，会员仍应对使用天金所服务期间的行为承担可能的违约或损害赔偿责任，同时天金所仍可保有会员的相关信息。</p>
    <h5>第七章 会员的守法义务及承诺</h5>
    <p>第二十四条 会员承诺绝不为任何非法目的或以任何非法方式使用天金所服务，并承诺遵守中国相关法律、法规及一切使用互联网之国际惯例，遵守所有与天金所服务有关的网络协议、规则和程序。</p>
    <p>第二十五条 会员同意并保证不得利用天金所服务从事侵害他人权益或违法之行为，若有违反者应负所有法律责任。上述行为包括但不限于：</p>
    <p>1.反对宪法所确定的基本原则，危害国家安全、泄漏国家秘密、颠覆国家政权、破坏国家统一的；</p>
    <p>2.侵害他人名誉、隐私权、商业秘密、商标权、著作权、专利权、其他知识产权及其他权益；</p>
    <p>3.违反依法律或合约所应负之保密义务；</p>
    <p>4.冒用他人名义使用天金所服务；</p>
    <p>5.从事任何不法交易行为，如贩卖枪支、毒品、禁药、盗版软件或其他违禁物；</p>
    <p>6.提供赌博资讯或以任何方式引诱他人参与赌博；</p>
    <p>7.涉嫌洗钱、套现或进行传销活动的；</p>
    <p>8.从事任何可能含有电脑病毒或是可能侵害天金所服务系統、资料等行为；</p>
    <p>9.利用天金所服务系统进行可能对互联网或移动网正常运转造成不利影响之行为；</p>
    <p>10.侵犯天金所的商业利益，包括但不限于发布非经天金所许可的商业广告；</p>
    <p>11.利用天金所服务上传、展示或传播虚假的、骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的或其他任何非法的信息资料；</p>
    <p>12.非法使用他人银行账户（包括信用卡账户）或无效银行账号（包括信用卡账户）交易；</p>
    <p>13.其他天金所有正当理由认为不适当之行为。</p>
    <p>第二十六条 天金所保有依其单独判断删除天金所平台内各类不符合法律政策或不真实或不适当的信息内容而无须通知会员的权利，并无需承担任何责任。若会员未遵守以上规定的，天金所有权作出独立判断并采取暂停或关闭会员信息账户等措施，而无需承担任何责任。</p>
    <p>第二十七条 会员同意，由于会员违反本协议，或违反通过援引并入本协议并成为本协议一部分的文件，或由于会员使用天金所服务违反了任何法律或侵害第三方的权利而造成任何第三方进行或发起的任何补偿申请或要求（包括律师费用），会员会对天金所及其关联方、合作伙伴、董事以及雇员给予全额补偿并使之不受损害。</p>
    <p>第二十八条 会员承诺，其通过天金所平台上传或发布的信息均真实有效，其向天金所提交的任何资料均真实、有效、完整、详细、准确。如因违背上述承诺，造成天金所或天金所其他使用方损失的，会员将承担相应责任。</p>
    <h5>第八章 服务中断或故障</h5>
    <p>第二十九条 会员同意，基于互联网的特殊性，天金所不担保服务不会中断，也不担保服务的及时性和安全性。系统因相关状况无法正常运作，使会员无法使用任何天金所服务或使用任何天金所服务时受到任何影响时，天金所对会员或第三方不负任何责任，前述状况包括但不限于：</p>
    <p>1.天金所系统停机维护期间；为提高网络通信质量或适应通信技术发展，因工程施工、网络建设、调整服务功能、进行技术升级等原因影响正常网络服务的；</p>
    <p>2.电信设备出现故障不能进行数据传输的；</p>
    <p>3.由于黑客攻击、网络供应商技术调整或故障、网站升级、银行等第三方方面的问题等原因而造成的天金所服务中断或延迟；<p>
    <p>4.因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成天金所系统障碍不能提供服务的。<p>
    <h5>第九章 责任范围及限制</h5>
    <p>第三十条 天金所未对任何服务提供任何形式的保证，包括但不限于以下事项：</p>
    <p>1.天金所服务将符合会员的需求；</p>
    <p>2.天金所服务将不受干扰、及时提供或免于出错；</p>
    <p>3.会员经由天金所服务购买或取得之任何产品、服务、资讯或其他资料将符合会员的期望。</p>
    <p>第三十一条 天金所服务的合作单位所提供的服务品质及内容由该合作单位自行负责。天金所平台的内容可能涉及由第三方所有、控制或者运营的其他网站（以下简称“第三方网站”）。天金所不能保证也没有义务保证第三方网站上任何信息的真实性和有效性。会员确认按照第三方网站的服务协议使用第三方网站，而不是按照本协议。第三方网站的内容、产品、广告和其他任何信息均由会员自行判断并承担风险，而与天金所无关，由此造成的损失，由第三方独立承担。会员经由天金所服务平台下载或取得的任何资料，应由会员自行考量且自负风险，因资料的下载而导致的任何损坏由会员自行承担。</p>
    <p>第三十二条 会员自天金所及天金所工作人员或经由天金所服务取得的建议或资讯，无论其为书面或口头，均不构成天金所对天金所服务的任何保证</p>
    <p>第三十三条 天金所不保证为向会员提供便利而设置的外部链接的准确性、有效性、安全性和完整性，同时，对于该等外部链接指向的不由天金所实际控制的任何网页上的内容，天金所不承担任何责任。</p>
    <p>第三十四条 在法律允许的情况下，天金所对于与本协议有关或由本协议引起的，或者由于使用天金所平台、或通过天金所平台提供给会员的全部信息、内容、材料、产品（包括软件）和服务、或购买和使用产品引起的任何间接的、惩罚性的、特殊的、派生的损失（包括但不限于业务损失、收益损失、利润损失、使用数据或其他经济利益的损失），均不负有任何责任，即使会员事先已被告知此等损失的可能性。另外即使本协议规定的排他性救济没有达到其基本目的，也应排除天金所对上述损失的责任。</p>
    <p>第三十五条 除本协议另有规定外，在任何情况下，天金所对本协议所承担的违约赔偿责任总额不超过向会员收取的当次天金所服务费用总额。</p>
    <p>第三十六条 天金所为实现本协议项下债权而实际发生的一切费用（包括但不限于诉讼费、财产保全费、差旅费、执行费、评估费、拍卖费、公证费、送达费、公告费、律师费等）均由会员承担。</p>
    <h5>第十章 知识产权的保护</h5>
    <p>第三十七条 天金所平台上所有内容，包括但不限于著作、图片、档案、资讯、资料、平台架构、平台画面的安排、网页设计，均由天金所或其他权利人依法拥有其知识产权，包括但不限于商标权、专利权、著作权、商业秘密等。</p>
    <p>第三十八条 非经天金所或其他权利人书面同意，任何人不得擅自使用、修改、复制、公开传播、改变、散布、发行或公开发表天金所平台程序或内容。</p>
    <p>第三十九条 会员未经天金所的明确书面同意不许下载（除了页面缓存）或修改平台或其任何部分。会员不得对天金所平台或其内容进行转售或商业利用；不得收集和利用产品目录、说明和价格；不得对天金所平台或其内容进行任何衍生利用；不得为其他商业利益而下载或拷贝账户信息或使用任何数据采集、Robots或类似的数据收集和摘录工具。未经天金所的书面许可，严禁对天金所平台的内容进行系统获取以直接或间接创建或编辑文集、汇编、数据库或人名地址录（无论是否通过Robots、Spiders、自动仪器或手工操作）。另外，严禁为任何未经本使用条件明确允许的目的而使用天金所平台上的内容和材料。</p>
    <p>第四十条 未经天金所明确书面同意，不得以任何商业目的对天金所网站或其任何部分进行复制、复印、仿造、出售、转售、访问、或以其他方式加以利用。未经天金所明确书面同意，会员不得用frame或运用frame技巧把天金所或其关联公司的商标、标识或其他专有信息（包括图像、文字、网页设计或形式）据为己有。未经天金所明确书面同意，会员不得以Meta Tags或任何其他"隐藏文本"方式使用天金所或其关联公司的名字和商标。任何未经授权的使用都会终止天金所所授予的允许或许可。</p>
    <p>第四十一条 尊重知识产权是会员应尽的义务，如有违反，会员应对天金所承担损害赔偿等法律责任。</p>
    <h5>第十一章 隐私权保护及授权条款</h5>
    <p>第四十二条 天金所对于会员提供的、天金所自行收集的、经认证的信息将按照本协议予以保护、使用或者披露。未经天金所事先书面同意，会员不得转让其在本协议项下的任何权利和义务。</p>
    <p>第四十三条 天金所可能自公开及合法的私人资料来源收集会员的额外资料，以更好地掌握会员情况，并为会员度身订造天金所服务、解决争议并有助确保在天金所平台进行安全交易。</p>
    <p>第四十四条 天金所按照会员在天金所平台上的行为自动追踪关于会员的某些资料。在不透露会员的隐私资料的前提下，天金所有权对整个会员数据库进行分析并对会员数据库进行商业上的利用。</p>
    <p>第四十五条 会员同意，天金所可在天金所平台的某些网页上使用诸如“Cookies”的资料收集装置。</p>
    <p>第四十六条 会员同意天金所可使用关于会员的相关资料（包括但不限于天金所持有的有关会员的档案中的资料，天金所从会员目前及以前在天金所平台上的活动所获取的其他资料以及天金所通过其他方式自行收集的资料）以解决争议、对纠纷进行调停。会员同意天金所可通过人工或自动程序对会员的资料进行评价。</p>
    <p>第四十七条 天金所采用行业标准惯例以保护会员的资料。会员因履行本协议提供给天金所的信息，天金所不会用于非本协议项下的目的。天金所因履行本协议之目的或法定义务而向以下单位提供会员资料：</p>
    <p>1.提供独立服务且仅要求服务相关的必要信息的供应商，如印刷厂、邮递公司等；</p>
    <p>2.具有合法调阅信息权限并从合法渠道调阅信息的政府部门或其他机构，如公安机关、法院；</p>
    <p>3.天金所的关联实体；</p>
    <p>4.与会员在交易过程中存在交易关系或交易服务关系的平台使用方。</p>
    <h5>第十二章条款的解释、法律适用及争端解决</h5>
    <p>第四十八条 本协议是由会员与天金所共同签订的，适用于会员在天金所的全部活动。本协议内容包括但不限于协议正文条款及已经发布的或将来可能发布的各类规则，所有条款和规则为协议不可分割的一部分，与协议正文具有同等法律效力。会员对本协议理解和认同，即对本协议所有组成部分的内容理解并认同，一旦会员使用天金所服务，会员和天金所即受本协议所有组成部分的约束。本协议部分内容被有管辖权的法院认定为违法的，不因此影响其他协议内容的效力。</p>
    <p>第四十九条 本协议不涉及会员与天金所的其他会员之间，因网上交易而产生的法律关系及法律纠纷。但会员在此同意将全面接受并履行与天金所其他会员在天金所签订的任何电子法律文本，并承诺按照该法律文本享有和（或）放弃相应的权利、承担和（或）豁免相应的义务。</p>
    <p>第五十条 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力，则应认为该条款可与本协议相分割，并可被尽可能接近各方意图的、能够保留本协议要求的经济目的的、有效的新条款所取代，而且，在此情况下，本协议的其他条款仍然完全有效并具有约束力。</p>
    <p>第五十一条 天金所对本服务协议拥有最终的解释权。</p>
    <p>第五十二条 本协议及其修订的有效性、履行与本协议及其修订效力有关的所有事宜，将受中国法律管辖，任何争议仅适用中国法律。</p>
    <p>第五十三条 因本协议引起或与本协议有关的一切争议，各方均应友好协商解决。在任何一方认为通过协商无法解决时，凡因本协议引起的或与本协议有关的任何争议，均只能提交中国国际经济贸易仲裁委员会天津国际经济金融仲裁中心，按照申请仲裁时该会现行有效的仲裁规则进行仲裁。仲裁裁决是终局的，对各方均有约束力。</p>
    <p>第五十四条 会员申请人已完全阅读本协议各条款，充分理解所有条款内容且不存在异议，申请注册会员系出于本人自愿，并同意履行本协议项下会员的全部义务。本协议自申请人的会员信息账户注册完成之日起生效。</p>

</div>
<!--天金所服务协议结束-->
<!--风险协议开始-->
<div class="Membership" id="risk">
    <h2>风险揭示书</h2>
    <h5>产品有风险、投资须谨慎！</h5>
    <h3></h3>
    <h6>尊敬的客户：</h6>
    <p>本产品项下投资活动具有一定投资风险。客户（“投资者”）投资本产品，天津金融资产交易所（下称“本交易所”）并不对产品本金及投资收益作出任何承诺。在您选择购买本产品前，请仔细阅读以下内容：</p>
    <p>一、在购买产品前，请您仔细阅读本《风险揭示书》，确保自己完全理解该项投资的性质和面临的风险，详细了解和审慎评估该产品的资金投资方向、风险类型等情况，在慎重考虑后自行决定购买与自身风险承受能力和资产管理需求匹配的产品。</p>
    <p>二、本交易所对本产品本金和收益不提供保证承诺，在发生最不利的情况下（可能但不一定发生），投资者可能无法取得产品收益，并可能面临损失产品本金的风险。您应充分认识投资风险，谨慎投资。客户投资本产品可能面临的风险主要包括（但不限于）：</p>
    <p>1、信用风险：产品投资运作过程中，本产品挂牌方将根据《产品合约》等产品文件约定进行资金使用，如果该产品基础资产或投资项目的债务人、交易对手等发生违约，信用状况恶化等，挂牌方的收益可能会受到损失，进而可能会影响到投资者的本金和收益。另外，即使基础资产或投资项目还款正常，挂牌方本身也有可能出现信用风险，可能会影响到投资者的本金和收益。</p>
    <p>2、可回购式产品的回购违约风险：对于可回购式产品，不能完全排除因挂牌方资金紧张而不能及时足额支付回购资金从而导致回购不能实际进行的违约风险。</p>
    <p>3、法律与政策风险：国家监管政策、货币政策、财政税收政策、产业政策、宏观政策及相关法律、法规的调整与变化将会影响本产品的正常运行，甚至导致本产品本金和收益发生损失。</p>
    <p>4、延期支付风险：指因市场内部和外部的原因导致产品基础资产不能及时变现而造成产品不能按时分配，产品期限将相应延长，从而导致本产品部分本金及收益的延期支付。该项风险出现时依据产品业务规则及相应担保文件由担保人履行担保义务以保障约定收益实现。</p>
    <p>5、早偿风险：如遇国家金融政策重大调整影响产品正常运作时、本产品的投资资产等不能成立或者提前终止、或者司法机关要求、或发生其他本产品挂牌方或本交易所认为需要提前终止本产品等情况，本产品挂牌方或本交易所有权部分或全部提前终止本产品），投资者可能无法实现期初约定的全部收益，并将面临再投资机会风险。</p>
    <p>6、信息传递风险：本交易所按照有关信息披露条款的约定发布产品信息。客户应根据信息披露条款的约定主动、及时登陆本交易所网站（http://www.tjfae.com）获取相关信息。如果客户未及时查询，或由于通讯故障、系统故障以及其他不可抗力等因素的影响使得客户无法及时了解产品信息，由此而产生的责任和风险由客户自行承担。如投资者预留的有效联系方式变更但未及时告知本交易所的，致使在需要联系投资者时无法及时联系并可能会由此影响投资者的投资决策，由此而产生的责任和风险由客户自行承担。</p>
    <p>7、不可抗力及意外事件风险：因战争、自然灾害、重大政治事件等不可抗力以及其他不可预见的意外事件可能致使产品面临损失的任何风险。</p>
    <p>以上并不能揭示从事交易的全部风险及市场的全部情形，但若产品出现风险，本交易所将积极协调，依据产品业务规则由增信机构承担责任或根据已公布的产品文件规定进行处理。</p>
    <p>投资者在做出交易决策前，应通过天金所公布的信息及其他相关公告了解拟交易资产权益等相关风险收益特征，并根据自身的交易目标、风险承受能力和资产状况等谨慎决策，并自行承担全部风险。</p>
    <p>三、根据挂牌方评估，本产品适合具备[稳健型]及以上风险承受能力的客户投资，请您在完成风险测评后作出投资选择。<p>
    <p>四、最不利投资情形下的投资结果示例：若产品运作期间，该产品投资标的出现风险，则客户可能无法获得约定的收益率，甚至客户的投资本金将遭受损失，在最不利的极端情况下，客户可能损失全部本金。该项风险出现时，将依据产品业务规则由增信机构承担责任或根据已公布的产品文件规定进行处理。<p>
    <p>产品运作结束时，若产品投资标的发生市场风险，则客户所获实际投资收益将低于约定的期末收益，最小收益水平为0，具体金额为：100,000×0%×364/365=0(元)，假定产品的实际投资运作天数为364天。</p>
    <p>产品运作期间，若投资标的发生信用风险，则客户的投资本金将遭受损失，在最不利的极端情况下，客户可能损失全部本金。该项风险出现时将依据产品业务规则由增信机构承担责任或根据已公布的产品文件规定进行处理。</p>
    <p>风险揭示方：天津金融资产交易所有限责任公司</p>

</div>
<!--风险协议结束-->
<script language="javascript" src="/js/view/externalDocking/agreement.js"></script>
</body>
</html>
