<!DOCTYPE html>
<html>
	<head>
		 <!--#include file = "/view/layout/head-script.html" -->	 	  
	    <title>合作机构</title>
	</head>
	<style type="text/css">
		#myBootstrapModalLoading {
			background-color: #7b7d7d;
    		opacity: 0.6;
		}
	</style>
	<body>
		<div class="container"> 
			<div class="error margin-top-30 text-center  hide">
				<img src="/img/externalDocking/exterAccess.png" alt="" />
				<div class="text-center">
					<h4 style="margin-top: 40px;margin-bottom:20px;font-size: 36px;">加载失败</h4>
					<p  style="color:#b6b8b8; font-size: 14px;"><span class="time">10s</span>后自动跳转到登录页面,<a href="/view/account/login.html"  style="color: #53a4bb;text-decoration: underline;">立即跳转</a></p>
				</div>
			</div>
		</div>
		
		
	</body>
</html>
<script language="javascript" src="/js/view/externalDocking/exterAccess.js"></script>
