<!doctype html>
<html>
<head lang="en">
    <!--#include file = "/view/layout/head-script.html" -->
    <link href="/css/externalDocking/myAccount.css" rel="stylesheet">
    <!--<link href="/css/account/finance.css" rel="stylesheet">-->
    <title>个人中心</title>
</head>
<style type="text/css">
	.logout{
		    float: right;
		    height: 30px;
		    line-height: 22px;
		    margin-top: 8px;
	}
	.title{
		margin-top: 10px;
	}
	.item{
		margin-top: 0;
		margin-bottom: 10px;
	}
</style>
<body>
<!--ͷ头部开始 -->

<header>
    <em class="fl"><a href="javaScript:void(0)" id="backTo" onclick="backClick()"><img src="/img/externalDocking/back.png"></a></em>
    <span id="headName">个人中心</span>
   <!-- <input type="button" onclick="logout()" value="退出登录" class="logout"/>-->
    <!-- <em class="fr"><img src="../../images/product/product/fx.png"></em>-->
</header>
<div style=" height:44px;"></div>
<!-- 头部结束 -->
<div id="phone">
    <img src="/img/externalDocking/profile.png" alt=""/>
    <span class="sp" style="font-size: 15px;"></span>
</div>

<!--<div class="investment-Records" id="investmentRecords"></div>-->

<!--投资记录-->
<div class="margin-top-6 user-list white padding-left-15 font-size-14">
	<p><a class="block" href="investDetails.html"> 
		<span class="font-size-15">投资记录</span> <span class="pull-right margin-right-16"><img src="/img/businessPartner/icon-right.png"/></span></a></p>
</div>

<!--充提记录-->
<div class="margin-top-6 user-list white padding-left-15 font-size-14">
	<p><a class="block" href="chargeDetails.html">
		<span class="font-size-15">充提记录</span> 
		<span class="pull-right margin-right-16">
			<img src="/img/businessPartner/icon-right.png"/>
		</span></a></p>
</div>
<div class="main container">
	<div class="row text-center">
		 <p id="recharge" class="recharge2 col-xs-4 col-xs-4">充值</p>		
   		 <p id="forward" class="forward2 col-xs-4 col-xs-4">提现</p>
   		 <p id="unlock" class="unlock col-xs-4 col-xs-4">解锁</p>
	</div>
    
</div>

<!--<div class="pagesizes">
    <a id="first" href="#" class="page">第一页</a>
    <a id="previous" href="#" class="page">上一页</a>
    <a id="next" href="#" class="page">下一页</a>
</div>-->
<script language="javascript" src="/js/view/tianjin/myAccount.js"></script>
</body>
</html>
