header {background: white;}
header span {color: black;}
header{border-bottom: solid 1px #dddcdc;}
header a img {width: 12px;}
body{background-color:  #f5f5f5;}


a:hover{color: #fff;text-decoration: none;}
.container {min-width: 320px;max-width: 768px;margin: 0 auto;-webkit-text-size-adjust: none;position: relative;padding: 0;}
.proList {
    font-size: 12px;
    color: #999;
    font: inherit;
    vertical-align: baseline;  background-color: white; 
}
.proList img{
	max-width: 100%;
}

.page {font-size: 12px; padding: 3px 15px;color: #0f7ccf;border-radius: 3px;border: 1px #0f7ccf solid;margin: 0 0 0 10px;}
.pagesizes{text-align:center; float:center;margin-bottom: 20px;margin-top: 20px;}
.pagesizes a:link{color: #0f7ccf;}
.pagesizes a:visited{color: #0f7ccf;}
.pagesizes a:hover{color: #0f7ccf;}
.pagesizes a:active{color: #0f7ccf;}

.productContainer{border-bottom: solid 1px #dddcdc;}
.productTitle{color:#4a4a4a;font-size: 17px;padding: 15px 16px;}
.nianhua{float:left;width:40%;padding: 0 0 0 5%;}
.qixian{float:left;width:40%;}
.qitou{float:right;width:20%;text-align: right;}
.clear{clear:both;}
.nianhua .txt1,.qixian .txt1,.qitou .txt1{font-size: 21px;font-weight: bold;padding: 10px 0 10px 0;}
.nianhua .txt1{color:#f64f1d;}
.qitou .txt1{color:#4a4a4a;}
.qixian .txt2{font-size: 14px;}
.qixian .txt2:nth-child(1){padding: 12px 0 10px 0;}
.qixian .txt2 span{color: #4A4A4A;}
.nianhua .txt2{font-size: 14px;padding: 0 0 20px 0;}


.loginButton{color:#2b8fea;border: solid 1px #2b8fea;border-radius: 5px;position: absolute;height: 30px;line-height: 27px;right: 10px;top: 6px;background-color: white;}
.bottomTxt{font-size: 13px;color:#2b8fea;text-align: center;padding: 10px 0;}


/*弹窗效果*/
#light1 img{position: absolute;top:15px;right: 15px;width:10px;}
#fade{display: none;position: fixed;top: 0%;left: 0%;width: 100%;height: 100%;background-color:black;z-index:1000;-moz-opacity: 0.8;opacity:.80;filter: alpha(opacity=80);}
.white_content1{position: fixed;top: 30%;left: 15%;width: 70%;z-index:1005;overflow: auto;border-radius:3px; font-size:14px;background-color:white;color:#707070;}
.white_content1 .title{padding:12px 0 12px 0;font-size: 18px; font-weight:bold;border-bottom:1px solid #999999;text-align: center;}
.white_content1 .txt{padding:15px 15px 15px 15px;margin:0;line-height: 24px;color: #404040;}
.white_content1 .okbtn{color:white;font-size:18px;font-weight:bold;text-align:center;padding:15px;background-color: #2B8FEA;}
