<form action="#"  class="form-horizontal" method="post" id="validation-reg" name='validation-reg' role="form" novalidate="novalidate" autocomplete="off">
			<div class="div-register">
				<div class="div-mobil-input">
					<div class="row margin-left-0 margin-right-0 div-input-group">
						<div class="col-xs-1 padding-left-0 padding-right-0 text-center">
							<img src="/img/externalDocking/mobile.png" style="margin-top:8px;width: 14px;">
						</div>
						<div class="col-xs-11  padding-left-0">
							<input type="text" placeholder="请输入原手机号码" name="mobile" id="mobile">
						</div></div></div>
				<div class="div-mobil-input margin-top-30">
					<div class="row margin-left-0 margin-right-0 div-input-group">
						<div class="col-xs-1 padding-left-0 padding-right-0 text-center">
							<img src="/img/externalDocking/key.png" style="margin-top:12px;width: 14px;">
						</div>
						<div class="col-xs-11  padding-left-0">
							<input type="password" placeholder="请输入密码" name="password" id="password">
						</div></div></div>	
						<div class="margin-top-30">	
								<input type="button" class="btn btn-primary div-btn" style="background-color: #dadada ;border: none;" value="下一步" id="next">		
						</div>
						</div>	
</form>


				
				<!--<button id="next" class="next font-color-gray" style="padding: 6px 29px;font-size: 16px;">下一步</button>-->

<script src="/js/view/login/update-step/update-step1.js" type="text/javascript" ></script>