<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的银行卡</title>
		<!--#include file = "/view/layout/head-script.html" -->
		<link rel="stylesheet" type="text/css" href="../../css/account/bankCard.css"/>
	</head>
	<body>
		<header>
			<em class="fl"><a href="javaScript:void(0)" id="backTo" onclick="backClick()"><img src="/img/externalDocking/back.png"></a></em>
		    <span id="headName">我的银行卡</span>
		</header>
		<div style=" height:44px;"></div>
		<div class="cardList">
			<!--<div class="cardItem bg_blue">
				<div class="bg_color" style="background: url('../../img/mybank/bg_bank/jianshe.png') no-repeat right;">								
					<div class="logo_bank">
						<img src="../../img/mybank/logo_bank/jianshe.png"/>
						<span class="card_name">
							中国建设银行
						</span>
					</div>
					<div class="card_num">
						6225********1234
					</div>
					<ul class="card_user">
						<li>张三</li>
						<li>310217********0001</li>
					</ul>
				</div>
			</div>-->
			<!--<div class="cardItem bg_red">
				<div class="bg_color">								
					<div class="logo_bank">
						<img src="../../img/mybank/logo_bank/jianshe.png"/>
						<span class="card_name">
							中国建设银行
						</span>
					</div>
					<div class="card_num">
						6225********1234
					</div>
					<ul class="card_user">
						<li>张三</li>
						<li>310217********0001</li>
					</ul>
				</div>
			</div>
			<div class="cardItem bg_orange">
				<div class="bg_color">								
					<div class="logo_bank">
						<img src="../../img/mybank/logo_bank/jianshe.png"/>
						<span class="card_name">
							中国建设银行
						</span>
					</div>
					<div class="card_num">
						6225********1234
					</div>
					<ul class="card_user">
						<li>张三</li>
						<li>310217********0001</li>
					</ul>
				</div>
			</div>-->
		</div>
		
		<script language="javascript" src="../../js/view/account/mybankCard.js"></script>
	</body>
</html>
