<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的资产</title>
		<!--#include file = "/view/layout/head-script.html" -->
		<link rel="stylesheet" type="text/css" href="../../css/account/myAsset.css"/>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<header>
			<em class="fl"><a href="javaScript:void(0)" id="backTo" onclick="backClick()"><img src="/img/externalDocking/back.png"></a></em>
		    <span id="headName">券商资产</span>
		    <a class="record" href="/view/account/userAccount/detail.html?status=4">
		    	交易记录
		    </a>
		</header>
		<div style=" height:44px;"></div>

	  <ul class="nav_asset">
	    <li class="tabActive">资产</li>
	    <li>我的预约</li>
	  </ul>
	  <div class="asset-content">
	    <div class="active asset">
	    	<!--<div class="item">
	    		<div class="title">
	    			<span>日益月鑫进取型90天</span>
	    			<span>待回收</span>
	    		</div>
	    		<ul class="item_list">
	    			<li class="redcolor">50,000,000.00</li>
	    			<li class="textRight">到期日：<span>2019-03-01</span></li>
	    			<li>持有金额(元)</li>
	    			<li class="textRight">投资日：<span>2019-03-01</span></li>
	    		</ul>
	    	</div>-->
	    	<!--<div class="item">
	    		<div class="title">
	    			<span>日益月鑫进取型90天</span>
	    			<span>待回收</span>
	    		</div>
	    		<ul class="item_list">
	    			<li class="redcolor">50,000,000.00</li>
	    			<li class="textRight">到期日：<span>2019-03-01</span></li>
	    			<li>持有金额(元)</li>
	    			<li class="textRight">投资日：<span>2019-03-01</span></li>
	    		</ul>
	    	</div>-->

	    </div>
	    <div class="appointment assetInfo">
	    	<!--<div class="item">
	    		<div class="time">时间：<span>2018-11-30 15:32:21</span>
	    		</div>
	    		<ul class="appointment_list">
	    			<li>证通1号</li>
	    			<li>50,000,000.00</li>
	    			<li>预约成功</li>
	    		</ul>
	    	</div>-->
	    </div>
	  </div>
		
		<script language="javascript" src="../../js/view/account/myAsset.js"></script>
	</body>
</html>
