<!DOCTYPE html>
<html>
<head lang="en">
	<!--#include file = "/view/layout/head-script.html" -->
	<link href="/css/forget.css" rel="stylesheet">
</head>
<body>
<div class="div-actionBar">
	<img src="/img/externalDocking/back.png" class="img-goBack">
	<span>重置交易密码</span>
</div>
<div class="div-body">
	<form  id="userInfoForm">
				
		<div class="div-input-title margin-top-20">原密码</div>	
		<div class="div-mobil-input border-bottom ">
			<div class="row margin-left-0 margin-right-0 div-input-group">
				<div class="col-xs-11  padding-left-0">
					<input type="type" placeholder="原始交易密码" id="password" type="password" name="password" autocomplete="off" >
				</div>
				<div class="col-xs-1 padding-left-0 padding-right-0 text-center">
					<img class="eye-off " src="/img/account/icon-eyeOff.png" style="margin-top:12px;width: 15px;">
					<img class="eye-open hide" src="/img/account/icon-eyeOpen.png" style="margin-top:13px;width: 15px;">					
				</div>
				
			</div>
		</div>
		
		<div class="div-input-title margin-top-20">新密码</div>	
		<div class="div-mobil-input border-bottom ">
			<div class="row margin-left-0 margin-right-0 div-input-group">
				
					<div class="col-xs-11  padding-left-0">
						<input type="type" placeholder="新交易密码" id="newPassword" type="password" name="newPassword" autocomplete="off" >
					</div>								
					<div class="col-xs-1 padding-left-0 padding-right-0 text-center">
						<img class="eye-off " src="/img/account/icon-eyeOff.png" style="margin-top:12px;width: 15px;">
						<img class="eye-open hide" src="/img/account/icon-eyeOpen.png" style="margin-top:13px;width: 15px;">					
					</div>
				</div>
		</div>

		<div class="div-btn margin-top-30">
			确认修改
		</div>

	</form>
</div>

<script src="/plugins/skyform/jquery.form.min.js" type="text/javascript"></script>
<script src="/plugins/skyform/jquery.validate.min.js" type="text/javascript"></script>
<script src="/js/view/login/resetPayPassword.js" type="text/javascript"></script>
</body>
</html>