<!DOCTYPE html>
<html>
	<head lang="en">
		<!--#include file = "/view/layout/head-script.html" -->
	    <link href="/css/externalDocking/updatePhone.css" rel="stylesheet"> 
	    <link href="/css/register.css" rel="stylesheet">
	    <title>修改手机号</title>
	</head>
	<body>
		<!--头部开始-->
			<header>
			    <em class="fl"><a id="backTo"><img src="/img/externalDocking/back.png"></a></em>
			    <span id="headName">修改手机号</span>    
			</header>
			<div style=" height:44px;"></div>
		<!--头部结束-->
			<div id="updateContent">
				
			</div>
					
	</body>
</html>
<script src="/plugins/skyform/jquery.form.min.js" type="text/javascript"></script>
	<script src="/plugins/skyform/jquery.validate.min.js" type="text/javascript"></script>
<script language="javascript" src="/js/view/login/updatePhone.js"></script>