html,body,.div-actionBar{background:#f2f2f2;}
.div-actionBar{height: 48px;width: 100%;}
.div-actionBar span{font-size: 15px;color: #484848;width: 210px;height: 22.5px;display: inline-block;}
.blue{color:#2b8fea;}
.div-mobil-input{font-size: 12px;line-height: normal;    padding-top: 20px;}
.div-input-group{border-radius: 5px;background: #fff;border: 1px solid #ccc;}
.div-mobil-input input {width: 100%;border: 0px;background: #fff;font-size: 14px;padding:10px;border-radius: 5px;outline: none;}
.div-mobil-input .img-code{height: 32px;position: absolute;margin-top: 5px}
.div-mobil-input a{color:#64b4fb;margin-top: 2px; float: right;padding: 10px;}
.div-btn{background: #2B8FEA;text-align: center;font-size: 16px;color:#fff;padding: 15px; border-radius: 4px;width: 100%;line-height: 18px;}
.div-btn{color: #fff;}
.border-bottom{border-bottom: 1px solid #f0f4f7;}
.help-block{position: absolute;width: 85%;}
.focus{
	border:1px solid #2b8fea!important;
}
.font-size-14{font-size: 14px;}
/*放全局css*/
.div-body{
	padding: 28px 16px!important;
}
.div-body .title{
	color: #484848;
	font-size: 22px;
	line-height: 33px;
	/*margin-bottom: 11px;*/
}
.div-mobil-input label{
	font-size: 14px;
	color: #767676;
	letter-spacing: 0;
	line-height: 21px;
	width: 100%;
	font-weight: normal;
}
.div-mobil-input input{
	font-size: 24px;
	color: #3D3D3D;
	letter-spacing: 0;
	line-height: 36px;
	padding-left: 0px!important;
}
.div-actionBar em {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}
em.fl {
    position: absolute;
    left: 16px;
    top: 13px;
}
.f1{
	float: left;
}
em a{
	    color: #515151;
    text-decoration: none;
}
em a img{
    width: 10px;
}
.nextBtn{
	margin-top: 144px;
}
.div-btn{
	    background-color: rgb(43, 143, 234);
}

.btn[disabled]{
	opacity: 0.5;
}
.tips-top{
	line-height: 25.5px;
	background: #f2f2f2;
	font-size: 17px;
	color: #484848;
	padding: 10px 16px;
	position: absolute;
	width: 100%;
	/*display: none;*/
}
#showPws, #showNewPws{width: 20%;text-align: right;float: right;font-size: 14px;color: #767676;line-height: 21px;}
#footer{
	color: #767676;
	font-size: 14px;
}
#footer .login-a{font-size: 14px;color: #2B8FEA;}
#treaty{ width: 16px; height: 16px; margin-right: 10px;display: inline-block;}
.treaty{font-size: 13px;color: #919191;letter-spacing: 0;line-height: 19.5px;margin-top: 11px;}
.btnBox{margin-top: 16.5px;}
.referrer{
	margin-bottom: 144px;
}
.bg-img{
	width: 44px;
	height: 44px;
	margin: 0 auto;
	border-radius:50%;
	background: #2B8FEA ;
}
#textH{
	font-size: 22px;
	color: #484848;
	letter-spacing: 0;
	line-height: 33px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	font-weight: 600;
	font-family: PingFangSC-Semibold;
	margin-top: 16px;
}
.timeOut{
	font-family: PingFangSC-Light;
	font-size: 17px;
	color: #484848;
	letter-spacing: 0;
	line-height: 25.5px;
	text-align: center;
	margin-top: 3px;
}
.nowLogin{
	font-size: 15px;
	color: #2B8FEA;
	text-align: center;
	padding: 14px 48px 13px;
	border: 1px solid #2B8FEA;
	border-radius: 4px;
	width: 158px;
	box-sizing: border-box;
	line-height: 21px;
	margin: 0 auto;
	margin-top: 30px;
}
button[disabled]{
	opacity: 0.5;
}
button{
	outline: none;
	border: 0px;
}