*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f4f8;
   /*background-color: #ffffff;*/
}
header,.cardInfo{
    background: #ffffff;
}
header span{
    color: #4a4a4a;
}
.cardList{background: #f0f4f8;padding:10px 16px 0px;}
.cardItem{
	width:100%;
	height: 128px;
	border-radius: 8px;	padding: 14px 0px 12px 24px;
	position: relative;
	margin-bottom: 10px;
	
}
.logo_bank img{
	width: 36px;
	margin-right: 10px;
}
.card_name{
	color: #FFFFFF;
	font-size: 17px;
	line-height: 22px;
}
.card_num{
	font-size: 24px;
	line-height: 31px;
	color: #FFFFFF;
	padding-left: 46px;
}
.card_user{
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 6px;
	padding-left: 40px;
}
.card_user li{
	float: left;
	line-height: 16px;
	font-size: 14px;
	color: #FFFFFF;
	padding: 0 6px;
}
.card_user li:nth-last-child(1){
	border-left: 1px solid #FFFFFF;
}
.bg_color{
	/*background: url("../../img/mybank/bg_bank/中国建设银行.png") no-repeat right;*/
	width: 100%;
	height: 100%;
}
.bg_blue{
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#81B2DE), to(#3380C6));
	background: -webkit-linear-gradient(left, #81B2DE, #3380C6);
	background: -moz-linear-gradient(left, #81B2DE, #3380C6);
	background: -o-linear-gradient(left, #81B2DE, #3380C6);
	background: linear-gradient(left, #81B2DE, #3380C6);
}
.bg_red{
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#EC8993), to(#DD5362));
	background: -webkit-linear-gradient(left, #EC8993, #DD5362);
	background: -moz-linear-gradient(left, #EC8993, #DD5362);
	background: -o-linear-gradient(left, #EC8993, #DD5362);
	background: linear-gradient(left, #EC8993, #DD5362);
}
.bg_orange{
	background: -webkit-gradient(linear, 0 0, 100% 0, from(#F3C38C), to(#E99330));
	background: -webkit-linear-gradient(left, #F3C38C, #E99330);
	background: -moz-linear-gradient(left, #F3C38C, #E99330);
	background: -o-linear-gradient(left, #F3C38C, #E99330);
	background: linear-gradient(left, #F3C38C, #E99330);
}
.bg_green{
	background: -webkit-gradient(linear, 0 0, 100% 0,from(#73DAC8), to(#28B39A));
	background: -webkit-linear-gradient(left, #73DAC8, #28B39A);
	background: -moz-linear-gradient(left, #73DAC8, #28B39A);
	background: -o-linear-gradient(left, #73DAC8, #28B39A);
	background: linear-gradient(left, #73DAC8, #28B39A );
}
