body{
    /*background-color: #f0f4f7;*/
}
.uhide{display: none;}
.ushow{display: block;}
.clearfloat:after{
    content:".";
    clear:both;
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
.header span:nth-of-type(1){ width:25%; font-size: 14px; float: left; text-align: left;  }
.header span:nth-of-type(1) img{ width:20px;  }
.header span:nth-of-type(2){ width:50%; float: left;}
.header span:nth-of-type(3){ width:25%; font-size: 14px; float: right; text-align: right;}
.main{margin-top: 44px;padding-top: 52px;padding-left: 16px;padding-right: 16px;}
.main p{width:43.7%;float: left;margin: 0;padding: 0;}
.main .start-date{height: 34px;}
.main .start-date input{width: 100%;border: none;border-bottom: 1px solid #dddddd;line-height: 34px;text-align: center;}
.main .to{width: 12.6%;text-align: center;line-height: 34px;}
/*.main .start-date{}*/