<!doctype html>
<html>
<head lang="en">
	<!--#include file = "/view/layout/head-script.html" -->
	<link href="../../../css/authorize/forget.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../../css/authorize/login.css"/>
    <title>找回密码</title>
</head>
<body>
<div class="div-actionBar">
	<em class="fl"><a  id="backTo"><img src="/img/externalDocking/back.png"></a></em>
	<span>找回密码</span>
</div>
<div class="div-body">
	<div class="title">
		找回密码
	</div>
	<form  id="validation-login"  autocomplete="off">
		<div class="div-mobil-input margin-top-10 border-bottom">
			<div class="row margin-left-0 margin-right-0  div-input-group">
				<label class="mobile" for="mobile">手机号</label>
				<input type="text" class="" placeholder="" name="mobile" id="mobile">
				<div class="img_box hide">
					<img src="../../../img/authorize/icon-check.png" class=""/>
				</div>
			</div>
		</div>
		<div class="nextBtn" >
			<button type="button" disabled="disabled" class="div-btn "   style="color: #fff;" >下一步</button>
		</div>
	</form>
</div>

<script src="/plugins/skyform/jquery.form.min.js" type="text/javascript"></script>
<script src="/plugins/skyform/jquery.validate.min.js" type="text/javascript"></script>
<script src="/js/view/login/authorize/forget.js" type="text/javascript"></script>
<script type="text/javascript">
	
</script>
</body>
</html>
