<div class="div-footer">
        <div class="div-nav text-center" id="div-home">
            <i class="nav_icon nav_home"></i>
            <div >首页</div>
        </div>
        <div class="div-nav text-center" id="div-product">
            <i class="nav_icon nav_product"></i>
            <div >理财</div>
        </div>
        <div class="div-nav text-center" id="div-mine">
            <i class="nav_icon nav_mine"></i>
            <div>我的</div>
        </div>
</div>
<script src="/js/view/lyout/footer.js"></script>